<%provide(:title,"Home")%>
<!DOCTYPE html>
<html >
<head><title><%=yield(:title)%> | this my web app</title> # =yield code is resposible for inserting the content of page into the layouts
</head>
<body><h1>sample web application</h1>
<p> this is home page fot the sample application</p>
</body>
</html>
